# Python Practice Lecture 11 MATH 342W Queens College - Multivariate Linear Regression with the Hat Matrix
## Author: Amir ElTabakh
## Date: March 8, 2021

## Agenda:
* QR Decomposition

## QR Decomposition

Let's load the Boston Housing data again and regenerate all our quantities:

In [1]:
# Lines below are just to ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Importing dependencies
from sklearn import datasets
import pandas as pd
import numpy as np

# Load the Boston Housing dataset as bh
bh = datasets.load_boston()

# Initialize target variable
y = bh.target

# Create Boston Housing df
X = pd.DataFrame(data = bh.data, columns = bh.feature_names)

# add intercept column
X.insert(0, 'INTERCEPT', [1 for i in range(len(X))])

# convert X to matrix object not dataframe
X.to_numpy()

# Load the first 5 rows of df
X.head()

,INTERCEPT,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,1,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,1,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,1,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,1,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [2]:
# SST
ybar = np.mean(y)

sst = sum((y - ybar)**2)
sst

42716.2954150198

In [3]:
n = len(X)
p_plus_one = len(X.iloc[0, :])

In [4]:
# solving for b
Xt = X.transpose()
XtXinv = np.linalg.inv(Xt @ X)
b = (XtXinv @ Xt @ y).to_numpy() # np array object is easier to do matrix multi with
b

array([ 3.64594884e+01, -1.08011358e-01,  4.64204584e-02,  2.05586264e-02,
        2.68673382e+00, -1.77666112e+01,  3.80986521e+00,  6.92224640e-04,
       -1.47556685e+00,  3.06049479e-01, -1.23345939e-02, -9.52747232e-01,
        9.31168327e-03, -5.24758378e-01])

In [5]:
# solving for yhat
yhat = X.dot(b)
yhat

0      30.003843
1      25.025562
2      30.567597
3      28.607036
4      27.943524
         ...
501    23.533341
502    22.375719
503    27.627426
504    26.127967
505    22.344212
Length: 506, dtype: float64

In [6]:
# SSR (sum of squared residuals)
ssr = sum((yhat - ybar)**2)
ssr

31637.510837065387

In [7]:
# R^2
Rsq = ssr / sst
Rsq

0.7406426641094228

Now let's do the QR decomposition and see if the projections work. We'll use NumPy's `np.linalg.qr()` method.

In [8]:
print(n)
print(p_plus_one)

506
14

In [9]:
Q, R = np.linalg.qr(X)

# output dimension of Q, R
print(Q.shape)
print(R.shape)

(506, 14)
(14, 14)

In [10]:
# output rank of Q, R
print(np.linalg.matrix_rank(Q))
print(np.linalg.matrix_rank(R))

14
14

In [11]:
# snapshot of Q
Q[0:5, 0:5]

array([[-0.04445542, -0.01866158,  0.00910601, -0.05766684, -0.00830254],
       [-0.04445542, -0.01855299, -0.02592754, -0.03907578, -0.01166524],
       [-0.04445542, -0.0185531 , -0.02592756, -0.03907574, -0.01166525],
       [-0.04445542, -0.01852682, -0.02592218, -0.07931947, -0.00856873],
       [-0.04445542, -0.01833705, -0.02588335, -0.07939459, -0.00855013]])

In [12]:
# snapshot of R
R[0:5, 0:5]

array([[-2.24944438e+01, -8.12842024e+01, -2.55618679e+02,
        -2.50515641e+02, -1.55593979e+00],
       [ 0.00000000e+00,  1.93295685e+02, -1.05067310e+02,
         6.26818497e+01, -3.19018318e-01],
       [ 0.00000000e+00,  0.00000000e+00,  5.13467576e+02,
        -7.11779587e+01, -3.14032817e-01],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.21541052e+02,  4.36290368e-01],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  5.67347449e+00]])

In [13]:
1 / np.sqrt(n)

0.044455422447438706

In [14]:
# Is Q Normalized?
print(sum(Q[:, 1]**2))
print(sum(Q[:, 2]**2))

0.9999999999999997
1.0000000000000004

In [15]:
# Is Q Orthogonal?
print(Q[:, 1] @ Q[:, 2])
print(Q[:, 7] @ Q[:, 13])

-1.734723475976807e-17
2.3418766925686896e-17

In [16]:
# Get yhat via Q
yhat_via_Q = Q @ Q.transpose() @ y

# output yhats
print(yhat[0:5])
print(yhat_via_Q[0:5])

0    30.003843
1    25.025562
2    30.567597
3    28.607036
4    27.943524
dtype: float64
[30.00384338 25.02556238 30.56759672 28.60703649 27.94352423]

Can we get the $b$ vector from the $Q$ matrix?

In [17]:
np.linalg.inv(R) @ Q.transpose() @ y

array([ 3.64594884e+01, -1.08011358e-01,  4.64204584e-02,  2.05586264e-02,
        2.68673382e+00, -1.77666112e+01,  3.80986521e+00,  6.92224640e-04,
       -1.47556685e+00,  3.06049479e-01, -1.23345939e-02, -9.52747232e-01,
        9.31168327e-03, -5.24758378e-01])

In [18]:
b_Q = Q.transpose() @ y
b_Q

array([-506.86294458,  -80.25448934,   59.61825389,  -50.50976574,
         39.11326989,   -8.73198992,  104.58545124,    9.50094264,
         42.18413341,   -5.84245863,  -18.15362413,  -36.18437976,
        -24.35852139,  -49.10029215])

In [19]:
Q @ b_Q

array([30.00384338, 25.02556238, 30.56759672, 28.60703649, 27.94352423,
       25.25628446, 23.00180827, 19.53598843, 11.52363685, 18.92026211,
       18.99949651, 21.58679568, 20.90652153, 19.55290281, 19.28348205,
       19.29748321, 20.52750979, 16.91140135, 16.17801106, 18.40613603,
       12.52385753, 17.67103669, 15.83288129, 13.80628535, 15.67833832,
       13.38668561, 15.46397655, 14.70847428, 19.54737285, 20.8764282 ,
       11.45511759, 18.05923295,  8.81105736, 14.28275814, 13.70675891,
       23.81463526, 22.34193708, 23.10891142, 22.91502612, 31.35762569,
       34.21510225, 28.02056414, 25.20386628, 24.60979273, 22.94149176,
       22.09669817, 20.42320032, 18.03655088,  9.10655377, 17.20607751,
       21.28152535, 23.97222285, 27.6558508 , 24.04901809, 15.3618477 ,
       31.15264947, 24.85686978, 33.10919806, 21.77537987, 21.08493555,
       17.8725804 , 18.51110208, 23.98742856, 22.55408869, 23.37308644,
       30.36148358, 25.53056512, 21.11338564, 17.42153786, 20.78483633,
       25.20148859, 21.7426577 , 24.55744957, 24.04295712, 25.50499716,
       23.9669302 , 22.94545403, 23.35699818, 21.26198266, 22.42817373,
       28.40576968, 26.99486086, 26.03576297, 25.05873482, 24.78456674,
       27.79049195, 22.16853423, 25.89276415, 30.67461827, 30.83110623,
       27.1190194 , 27.41266734, 28.94122762, 29.08105546, 27.03977365,
       28.62459949, 24.72744978, 35.78159518, 35.11454587, 32.25102801,
       24.58022019, 25.59413475, 19.79013684, 20.31167129, 21.43482591,
       18.53994008, 17.18755992, 20.75049026, 22.64829115, 19.7720367 ,
       20.64965864, 26.52586744, 20.77323638, 20.71548315, 25.17208881,
       20.43025591, 23.37724626, 23.69043261, 20.33578364, 20.79180873,
       21.91632071, 22.47107777, 20.55738556, 16.36661977, 20.56099819,
       22.48178446, 14.61706633, 15.17876684, 18.93868592, 14.05573285,
       20.03527399, 19.41013402, 20.06191566, 15.75807673, 13.25645238,
       17.26277735, 15.87841883, 19.36163954, 13.81483897, 16.44881475,
       13.57141932,  3.98885508, 14.59495478, 12.1488148 ,  8.72822362,
       12.03585343, 15.82082058,  8.5149902 ,  9.71844139, 14.80451374,
       20.83858153, 18.30101169, 20.12282558, 17.28601894, 22.36600228,
       20.10375923, 13.62125891, 33.25982697, 29.03017268, 25.56752769,
       32.70827666, 36.77467015, 40.55765844, 41.84728168, 24.78867379,
       25.37889238, 37.20347455, 23.08748747, 26.40273955, 26.65382114,
       22.5551466 , 24.29082812, 22.97657219, 29.07194308, 26.5219434 ,
       30.72209056, 25.61669307, 29.13740979, 31.43571968, 32.92231568,
       34.72440464, 27.76552111, 33.88787321, 30.99238036, 22.71820008,
       24.7664781 , 35.88497226, 33.42476722, 32.41199147, 34.51509949,
       30.76109485, 30.28934141, 32.91918714, 32.11260771, 31.55871004,
       40.84555721, 36.12770079, 32.6692081 , 34.70469116, 30.09345162,
       30.64393906, 29.28719501, 37.07148392, 42.03193124, 43.18949844,
       22.69034796, 23.68284712, 17.85447214, 23.49428992, 17.00587718,
       22.39251096, 17.06042754, 22.73892921, 25.21942554, 11.11916737,
       24.51049148, 26.60334775, 28.35518713, 24.91525464, 29.68652768,
       33.18419746, 23.77456656, 32.14051958, 29.7458199 , 38.37102453,
       39.81461867, 37.58605755, 32.3995325 , 35.45665242, 31.23411512,
       24.48449227, 33.28837292, 38.0481048 , 37.16328631, 31.71383523,
       25.26705571, 30.10010745, 32.71987156, 28.42717057, 28.42940678,
       27.29375938, 23.74262478, 24.12007891, 27.40208414, 16.3285756 ,
       13.39891261, 20.01638775, 19.86184428, 21.2883131 , 24.0798915 ,
       24.20633547, 25.04215821, 24.91964007, 29.94563374, 23.97228316,
       21.69580887, 37.51109239, 43.30239043, 36.48361421, 34.98988594,
       34.81211508, 37.16631331, 40.98928501, 34.44634089, 35.83397547,
       28.245743  , 31.22673593, 40.8395575 , 39.31792393, 25.70817905,
       22.30295533, 27.20340972, 28.51169472, 35.47676598, 36.10639164,
       33.79668274, 35.61085858, 34.83993382, 30.35192656, 35.30980701,
       38.79756966, 34.33123186, 40.33963075, 44.67308339, 31.59689086,
       27.3565923 , 20.10174154, 27.04206674, 27.2136458 , 26.91395839,
       33.43563311, 34.40349633, 31.8333982 , 25.81783237, 24.42982348,
       28.45764337, 27.36266999, 19.53928758, 29.11309844, 31.91054611,
       30.77159449, 28.94275871, 28.88191022, 32.79887232, 33.20905456,
       30.76831792, 35.56226857, 32.70905124, 28.64244237, 23.58965827,
       18.54266897, 26.87889843, 23.28133979, 25.54580246, 25.48120057,
       20.53909901, 17.61572573, 18.37581686, 24.29070277, 21.32529039,
       24.88682244, 24.86937282, 22.86952447, 19.45123791, 25.11783401,
       24.66786913, 23.68076177, 19.34089616, 21.17418105, 24.25249073,
       21.59260894, 19.98446605, 23.33888   , 22.14060692, 21.55509929,
       20.61872907, 20.16097176, 19.28490387, 22.1667232 , 21.24965774,
       21.42939305, 30.32788796, 22.04734975, 27.70647912, 28.54794117,
       16.54501121, 14.78359641, 25.27380082, 27.54205117, 22.14837562,
       20.45944095, 20.54605423, 16.88063827, 25.40253506, 14.32486632,
       16.59488462, 19.63704691, 22.71806607, 22.20218887, 19.20548057,
       22.66616105, 18.93192618, 18.22846804, 20.23150811, 37.4944739 ,
       14.28190734, 15.54286248, 10.83162324, 23.80072902, 32.6440736 ,
       34.60684042, 24.94331333, 25.9998091 ,  6.126325  ,  0.77779806,
       25.30713064, 17.74061065, 20.23274414, 15.83331301, 16.83512587,
       14.36994825, 18.47682833, 13.4276828 , 13.06177512,  3.27918116,
        8.06022171,  6.12842196,  5.6186481 ,  6.4519857 , 14.20764735,
       17.21225183, 17.29887265,  9.89116643, 20.22124193, 17.94181175,
       20.30445783, 19.29559075, 16.33632779,  6.55162319, 10.89016778,
       11.88145871, 17.81174507, 18.26126587, 12.97948781,  7.37816361,
        8.21115861,  8.06626193, 19.98294786, 13.70756369, 19.85268454,
       15.22308298, 16.96071981,  1.71851807, 11.80578387, -4.28131071,
        9.58376737, 13.36660811,  6.89562363,  6.14779852, 14.60661794,
       19.6000267 , 18.12427476, 18.52177132, 13.1752861 , 14.62617624,
        9.92374976, 16.34590647, 14.07519426, 14.25756243, 13.04234787,
       18.15955693, 18.69554354, 21.527283  , 17.03141861, 15.96090435,
       13.36141611, 14.52079384,  8.81976005,  4.86751102, 13.06591313,
       12.70609699, 17.29558059, 18.740485  , 18.05901029, 11.51474683,
       11.97400359, 17.68344618, 18.12695239, 17.5183465 , 17.22742507,
       16.52271631, 19.41291095, 18.58215236, 22.48944791, 15.28000133,
       15.82089335, 12.68725581, 12.8763379 , 17.18668531, 18.51247609,
       19.04860533, 20.17208927, 19.7740732 , 22.42940768, 20.31911854,
       17.88616253, 14.37478523, 16.94776851, 16.98405762, 18.58838397,
       20.16719441, 22.97718032, 22.45580726, 25.57824627, 16.39147632,
       16.1114628 , 20.534816  , 11.54272738, 19.20496304, 21.86276391,
       23.46878866, 27.09887315, 28.56994302, 21.08398783, 19.45516196,
       22.22225914, 19.65591961, 21.32536104, 11.85583717,  8.22386687,
        3.66399672, 13.75908538, 15.93118545, 20.62662054, 20.61249414,
       16.88541964, 14.01320787, 19.10854144, 21.29805174, 18.45498841,
       20.46870847, 23.53334055, 22.37571892, 27.6274261 , 26.12796681,
       22.34421229])

In [20]:
X @ b

0      30.003843
1      25.025562
2      30.567597
3      28.607036
4      27.943524
         ...
501    23.533341
502    22.375719
503    27.627426
504    26.127967
505    22.344212
Length: 506, dtype: float64

Nope - this is not the same! Why not?

Each dimension gives one piece of SSR and thus one piece of R^2 i.e. SSR = SSR_1 + ... + SSR_p and R^2 = R^2_1 + ... + R^2_p

Our definition of SSR removed the ybar i.e. the contribution of the intercept. So we will do so here. That is the first column of $Q$. Now we add up all the features besides the intercept.

In [21]:
# SSR list (you can populate an empty list)
partial_SSRs = []

for j in range(1, p_plus_one):
    # get row at column j
    qj = Q[:, j]
    
    # calculate yhat_j - we'll use the `.dot()` method for matrix multiplication
    yhat_j = qj.dot(qj.transpose().dot(y))
    
    # casting to int to round
    SSR_j = sum(yhat_j**2)
    
    # add value to end of list
    partial_SSRs += [SSR_j]
    
print(sum(partial_SSRs))
print(ssr)

31637.510837064816
31637.510837065387

In [22]:
# output SST
print(sst)

42716.2954150198

In [23]:
# Rsq
partial_rsqs = partial_SSRs / sst
sum(partial_rsqs)
print(partial_rsqs)

[0.15078047 0.08320797 0.05972513 0.03581415 0.00178498 0.25606426
 0.0021132  0.0416586  0.00079909 0.00771495 0.03065128 0.01389019
 0.05643838]

Some dimensions in this subspace matter more than others. We can do approximately the same regression with less than p features. Let's try this:

In [24]:
# sort
partial_rsqs_sorted = np.sort(partial_rsqs)[::-1] # descending
print(partial_rsqs_sorted)

[0.25606426 0.15078047 0.08320797 0.05972513 0.05643838 0.0416586
 0.03581415 0.03065128 0.01389019 0.00771495 0.0021132  0.00178498
 0.00079909]

In [25]:
# get indices of sort
partial_rsqs_sorted_indices = np.argsort(partial_rsqs)[::-1]
partial_rsqs_sorted_indices

array([ 5,  0,  1,  2, 12,  7,  3, 10, 11,  9,  6,  4,  8], dtype=int64)

In [26]:
# cumulative sum
partial_Rsqs_sorted_cumul = np.cumsum(partial_rsqs_sorted)
print(partial_Rsqs_sorted_cumul)

[0.25606426 0.40684473 0.4900527  0.54977783 0.60621622 0.64787482
 0.68368897 0.71434025 0.72823045 0.7359454  0.73805859 0.73984357
 0.74064266]

In [27]:
# sort Q by Rsq
Q_reduced = [Q[:, i] for i in partial_rsqs_sorted_indices]


Q_reduced = pd.DataFrame(Q_reduced).transpose() # DataFrame's can be transposed
Q_reduced

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.055557,-0.044455,-0.018662,0.009106,-0.004993,-0.013978,-0.057667,0.055974,-0.038282,-0.030550,-0.001676,-0.008303,0.019657
1,-0.026929,-0.044455,-0.018553,-0.025928,-0.001713,-0.049516,-0.039076,-0.015651,-0.021045,-0.021991,0.005421,-0.011665,-0.039188
2,-0.026929,-0.044455,-0.018553,-0.025928,-0.001465,-0.001655,-0.039076,-0.008740,-0.003960,-0.028975,0.059051,-0.011665,-0.037163
3,-0.001935,-0.044455,-0.018527,-0.025922,-0.000271,0.025673,-0.079319,-0.008083,0.021435,-0.008671,0.034898,-0.008569,-0.054818
4,-0.001978,-0.044455,-0.018337,-0.025883,-0.001609,0.005504,-0.079395,-0.007774,0.021662,-0.008885,0.045372,-0.008550,-0.063453
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.006000,-0.044455,-0.018370,-0.025890,-0.003935,0.013152,0.000838,-0.007627,0.102378,-0.059726,0.026903,-0.014722,0.033675
502,0.006021,-0.044455,-0.018460,-0.025909,-0.005285,-0.007982,0.000874,-0.011393,0.093455,-0.055316,-0.006307,-0.014731,0.043001
503,0.006002,-0.044455,-0.018380,-0.025892,-0.006384,-0.039500,0.000842,-0.006519,0.104107,-0.059280,0.053788,-0.014723,0.024283
504,0.005945,-0.044455,-0.018127,-0.025840,-0.004464,-0.036109,0.000742,-0.007889,0.100717,-0.058872,0.041031,-0.014698,0.019041
505,0.006018,-0.044455,-0.018449,-0.025906,-0.005245,-0.018600,0.000870,-0.012627,0.090052,-0.054734,-0.012624,-0.014730,0.032165

In [28]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

model.fit(Q_reduced, y)

# Print R^2
model.score(Q_reduced, y)

0.68420427096417